// @font-face declarations

@font-face
  font-family: 'Globie America Thin'
  src: url('../static/fonts/GlobieAmerica-Thin.woff2') format('woff2'), url('../static/fonts/GlobieAmerica-Thin.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Globie America Regular'
  src: url('../static/fonts/GlobieAmerica-Regular.woff2') format('woff2'), url('../static/fonts/GlobieAmerica-Regular.woff') format('woff')
  font-weight: bold
  font-style: normal
