@media screen and (min-width: 1366px)

  $gutter = 40px

  $margin-micro = ($gutter / 2)
  $margin-tiny = $gutter
  $margin-small = ($gutter * 1.5)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 4)
  $margin-large = ($gutter * 6)
  $margin-extra = ($gutter * 8)

  grid-maker(false, $gutter, xl)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large, $margin-extra)

  .container
    width: calc('100vw - ' + $gutter)

  $project-transform-duration = 900ms
  $project-opacity-duration = 1100ms

  $site-title-width = 185px

  // ******************************************************

  // HEADER

  #header-site-title
    transform: translateX(50vw) translateX(-($site-title-width / 2))

  #language-switch
    right: ($gutter / 2)

  #project-site-title
    left: $gutter

  // ******************************************************

  // PROJECT LIST

  #project-list
    min-height: calc('100vh - ' + $margin-extra)

  // ******************************************************

  // PROJECT

  #project
    transition: transform $project-transform-duration ease-out

  #project-container,
  #project-close-overlay
    transition: opacity $project-opacity-duration ease-out

  .project-header
    left: ($site-title-width + $margin-small + $gutter)

  #project-site-title
    left: $gutter

  .arrow
    margin-right: $margin-small

  .project-content
    &.active
      .project-header
        position: fixed
        backface-visibility: hidden
        left: 0
        transform: translateX($site-title-width + $margin-small + $gutter)

  make-browser-frames(20px, 30px, $margin-micro)

  // ******************************************************

  // GLOBIE

  svg#globie
    &.stuck
      left: $gutter
