@media screen and (min-width: 1366px)

  $gutter = 40px

  $margin-micro = ($gutter / 2)
  $margin-tiny = $gutter
  $margin-small = ($gutter * 1.5)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 4)
  $margin-large = ($gutter * 6)
  $margin-extra = ($gutter * 8)

  grid-maker(false, $gutter, xl)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large, $margin-extra)

  .container
    width: calc('100vw - ' + $gutter)

  $project-transform-duration = 600ms
  $project-opacity-duration = 1000ms

  $site-title-width = 185px

  // ******************************************************

  // HEADER

  #site-title
    transform: translateX(50vw) translateX(-($site-title-width / 2))
    transition: transform $project-transform-duration ease-in

  body.project-open
    #site-title
      transform: translateX(9vw) translateX($gutter)

  // ******************************************************

  // PROJECT LIST

  #project-list
    min-height: calc('100vh - ' + $margin-extra)

  // ******************************************************

  // PROJECT

  #project
    transition: transform $project-transform-duration ease-out

  #project-wrapper,
  #project-close-overlay
    transition: opacity $project-opacity-duration ease-out

  make-browser-frames(20px, 30px, $margin-micro)
