@media screen and (min-width: 1280px)

  $project-transform-duration = 500ms
  $project-opacity-duration = 800ms

  // ******************************************************

  // PROJECT

  #project
    transition: transform $project-transform-duration ease-out

  #project-wrapper,
  #project-close-overlay
    transition: opacity $project-opacity-duration ease-out
