$gutter = 10px

$margin-micro = ($gutter / 2)
$margin-tiny = $gutter
$margin-small = ($gutter * 1.5)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 4)
$margin-large = ($gutter * 6)
$margin-extra = ($gutter * 8)

$font-size-tiny = 10px
$font-size-small = 12px
$font-size-basic = 14px
$font-size-mid = 14px
$font-size-large = 36px

grid-maker(false, $gutter, s)

.container
  width: calc('100vw - ' + $gutter)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large, $margin-extra)

font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

$project-transform-duration = 500ms
$project-opacity-duration = 700ms

$site-title-width = 109px

// ******************************************************

// BASIC

p
  max-width: 380px

// ******************************************************

// HEADER

#header-site-title
  position: fixed
  top: 0
  left: 0
  transform: translateX($gutter)
  z-index: 300
  will-change: opacity

#language-switch
  position: fixed
  top: 0
  right: ($gutter / 2)
  z-index: 100
  line-height: 1.45

#project-site-title
  position: fixed
  top: 0
  left: $gutter
  opacity: 0
  pointer-events: none

// ******************************************************

// PROJECT LIST

.project-list-title
  line-height: .8

.project-list-type
  margin-left: .5em

// ******************************************************

// PROJECT

#project
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  transform: translateX(100vw)
  z-index: 200
  transition: transform $project-transform-duration ease-in-out
  will-change: transform

#project-container
  opacity: 0
  transition: opacity $project-opacity-duration ease-out
  will-change: opacity

#project-close-overlay
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  z-index: 100
  pointer-events: none
  opacity: 0
  transition: opacity $project-opacity-duration ease-out
  will-change: opacity

.project-header
  position: absolute
  top: 0
  left: ($site-title-width + ($gutter * 2))
  z-index: 300
  width: 100%

.arrow
  position: relative
  width: 10vw
  height: 1px
  margin-right: $margin-tiny
  &:before
    content: ''
    position: absolute
    right: -5px
    top: -3px
    width: 0
    height: 0
    border-left: 7px solid transparent
    border-right: 7px solid transparent
    border-top: 7px solid $color-black
    transform: rotate(-90deg) scaleX(.3)
    border-radius: 7px

.project-content
  &.active
    .project-header
      position: fixed
      left: 0
      transform: translateX($site-title-width + ($gutter * 2))

body
  &.project-open
    #project
      transform: translateX(0)
    #project-close-overlay
      pointer-events: auto
      cursor: pointer
      opacity: .85

  &.project-loaded
    #project-container
      opacity: 1

@keyframes arrow-stretch
  from
    width: 30vw
  to
    width: 10vw

#project-wrapper
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  overflow-y: scroll

.project-image-row
  font-size: 0

.frame-mobile
  max-width: 240px

make-browser-frames(12px, 25px, $margin-micro)

// DROPSHADOW
#dropshadow
  pointer-events: none
  position: absolute
  top: 0
  left: 0
  width: 7vw
  height: 100vh
  transition: transform $project-opacity-duration ease-out

.project-open
  #dropshadow
    transform: translateX(-100%)

// FOOTER

#contact
  display: none
