$gutter = 10px

$margin-micro = ($gutter / 2)
$margin-tiny = $gutter
$margin-small = ($gutter * 1.5)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 4)
$margin-large = ($gutter * 6)
$margin-extra = ($gutter * 8)

$font-size-tiny = 10px
$font-size-small = 12px
$font-size-basic = 14px
$font-size-mid = 14px
$font-size-large = 36px

grid-maker(false, $gutter, s)

.container
  width: calc('100vw - ' + $gutter)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large, $margin-extra)

font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

$project-transform-duration = 200ms
$project-opacity-duration = 600ms

// ******************************************************

// BASIC

p
  max-width: 380px

// ******************************************************

// HEADER

#header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 300

// ******************************************************

// PROJECT LIST

.project-list-title
  line-height: .8

.project-list-type
  margin-left: .5em

// ******************************************************

// PROJECT

#project
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  transform: translateX(100vw)
  z-index: 200
  transition: transform $project-transform-duration ease-out

#project-wrapper
  opacity: 0
  transition: opacity $project-opacity-duration ease-out

#project-close-overlay
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  z-index: 100
  pointer-events: none
  opacity: 0
  transition: opacity $project-opacity-duration ease-out

body.project-open
  #project
    transform: translateX(0)
  #project-close-overlay
    pointer-events: auto
    cursor: pointer
    opacity: .8

body.project-loaded
  #project-wrapper
    opacity: 1

#project-wrapper
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  overflow-y: scroll

.project-image-row
  font-size: 0

.frame-mobile
  max-width: 240px

make-browser-frames(12px, 25px, $margin-micro)

// FOOTER

#contact
  display: none
