$gutter = 10px

$margin-micro = ($gutter / 2)
$margin-tiny = $gutter
$margin-small = ($gutter * 1.5)
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 4)
$margin-large = ($gutter * 6)
$margin-extra = ($gutter * 8)

$font-size-tiny = 10px
$font-size-small = 12px
$font-size-basic = 14px
$font-size-mid = 14px
$font-size-large = 36px

grid-maker(false, $gutter, s)

.container
  width: calc('100vw - ' + $gutter)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large, $margin-extra)

font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

// ******************************************************

// BASIC

p
  max-width: 380px

// ******************************************************

// HEADER

#header
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 200

// ******************************************************

// PROJECT LIST

.project-list-title
  line-height: .8

.project-list-type
  margin-left: .5em

// ******************************************************

// PROJECT

#project
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  z-index: 100

#project-wrapper
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  overflow-y: scroll

.project-image-row
  font-size: 0

$browser-desktop-width = 12px
$browser-button-width = $browser-desktop-width / 2
$browser-mobile-width = 25px
$browser-mobile-speaker = 4px

.browser-frame
  border: solid $color-browser
  border-width: $browser-desktop-width 2px 2px 2px
  border-radius: 6px
  margin: 0 auto
  img, video
    width: 100%

.frame-desktop
  overflow: hidden
  &:before, &:after
    content: ''
    position: absolute
    top: ($browser-button-width / 2)
    height: $browser-button-width
    width: $browser-button-width
    border-radius: $browser-button-width
    background-color: $color-white
  &:before
    left: ($browser-desktop-width / 4) + $margin-micro
  &:after
    left: ($browser-desktop-width + $margin-micro)

.frame-mobile
  border-width: $browser-mobile-width 2px $browser-mobile-width 2px
  max-width: 240px
  position: relative
  &:before
    content: ''
    position: absolute
    width: 15%
    top: -(($browser-mobile-width / 2) + ($browser-mobile-speaker / 2))
    left: 42.5%
    height: $browser-mobile-speaker
    border-radius: $browser-mobile-speaker
    background-color: $color-white
