@media screen and (min-width: 1024px)

  $gutter = 30px

  $margin-micro = ($gutter / 2)
  $margin-tiny = $gutter
  $margin-small = ($gutter * 1.5)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 4)
  $margin-large = ($gutter * 6)
  $margin-extra = ($gutter * 8)

  $font-size-tiny = 14px
  $font-size-small = 18px
  $font-size-basic = 24px
  $font-size-mid = 36px
  $font-size-large = 64px

  grid-maker(false, $gutter, l)

  .container
    width: calc('100vw - ' + $gutter)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large, $margin-extra)

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .desktop-only
    display: initial !important

  $project-transform-duration = 700ms
  $project-opacity-duration = 900ms

  $site-title-width = 185px

  // ******************************************************

  // HEADER

  #header-site-title
    transform: translateX(50vw) translateX(-($site-title-width / 2))

  #language-switch
    line-height: 1.8
    right: ($gutter / 2)

  #project-site-title
    left: $gutter

  // ******************************************************

  // PROJECT LIST

  #project-list
    min-height: calc('100vh - ' + $margin-extra)

  // ******************************************************

  // PROJECT

  #project
    transition: transform $project-transform-duration ease-out

  #project-container,
  #project-close-overlay
    transition: opacity $project-opacity-duration ease-out

  body
    &.project-open
      #project
        transform: translateX(9vw)

  .project-header
    left: ($site-title-width + $margin-small + $gutter)

  .arrow
    height: 1.5px
    margin-right: $margin-small
    &:before
      right: -10px
      top: -4px
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-top: 10px solid $color-black
      transform: rotate(-90deg) scaleX(.4)
      border-radius: 10px


  .project-content
    &.active
      .project-header
        position: fixed
        backface-visibility: hidden
        left: 0
        transform: translateX($site-title-width + $margin-small + $gutter)

  make-browser-frames(18px, 28px, $margin-micro)

  #project-list
    min-height: calc('100vh - ' + $margin-extra)

  // ******************************************************

  // FOOTER

  body.contact-stuck
    #contact
      color: transparent
      pointer-events: none
    #footer
      .contact-item
        pointer-events: auto
        // color defined in <head>

  #contact
    display: block
    position: fixed
    backface-visibility: hidden
    bottom: 0
    left: 0
    width: 100%

  #footer
    .contact-item
      color: transparent
      pointer-events: none

  #footer
    p
      max-width: none
