@media screen and (min-width: 720px)

  $gutter = 20px

  $margin-micro = ($gutter / 2)
  $margin-tiny = $gutter
  $margin-small = ($gutter * 1.5)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 4)
  $margin-large = ($gutter * 6)
  $margin-extra = ($gutter * 8)

  $font-size-tiny = 11px
  $font-size-small = 14px
  $font-size-basic = 18px
  $font-size-mid = 24px
  $font-size-large = 48px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large, $margin-extra)

  grid-maker(false, $gutter, m)

  .container
    width: calc('100vw - ' + $gutter)

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .mobile-only
    display: none !important

  $project-transform-duration = 350ms
  $project-opacity-duration = 600ms

  $site-title-width = 139px

  // ******************************************************

  // BASIC

  p
    max-width: none

  // ******************************************************

  // HEADER

  #site-title
    transform: translateX(50vw) translateX(-($site-title-width / 2))
    transition: transform $project-transform-duration ease-in

  body.project-open
    #site-title
      transform: translateX($gutter)

  #language-switch
    z-index: 300

  // ******************************************************

  // PROJECT

  #project
    transition: transform $project-transform-duration ease-out

  #project-wrapper,
  #project-close-overlay
    transition: opacity $project-opacity-duration ease-out

  make-browser-frames(14px, 26px, $margin-micro)
