@media screen and (min-width: 720px)

  $gutter = 20px

  $margin-micro = ($gutter / 2)
  $margin-tiny = $gutter
  $margin-small = ($gutter * 1.5)
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 4)
  $margin-large = ($gutter * 6)
  $margin-extra = ($gutter * 8)

  $font-size-tiny = 11px
  $font-size-small = 14px
  $font-size-basic = 18px
  $font-size-mid = 24px
  $font-size-large = 48px

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid, $margin-large, $margin-extra)

  grid-maker(false, $gutter, m)

  .container
    width: calc('100vw - ' + $gutter)

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small, $font-size-tiny)

  .mobile-only
    display: none !important

  $project-transform-duration = 600ms
  $project-opacity-duration = 800ms

  $site-title-width = 139px

  // ******************************************************

  // BASIC

  // ******************************************************

  // HEADER

  #header-site-title
    transform: translateX(50vw) translateX(-($site-title-width / 2))

  #project-site-title
    left: $gutter

  body
    &.title-stuck
      #header-site-title
        opacity: 0
        pointer-events: none
      #project-site-title
        opacity: 1
        pointer-events: auto

  #language-switch
    right: ($gutter / 2)
    z-index: 300
    line-height: 1.6

  // ******************************************************

  // PROJECT

  #project
    transition: transform $project-transform-duration ease-out

  #project-container,
  #project-close-overlay
    transition: opacity $project-opacity-duration ease-out

  .project-header
    left: ($site-title-width + $margin-basic + $gutter)

  .arrow
    margin-right: $margin-basic

  .project-content
    &.active
      .project-header
        position: fixed
        backface-visibility: hidden
        left: 0
        transform: translateX($site-title-width + $margin-basic + $gutter)

  make-browser-frames(14px, 26px, $margin-micro)

  // ******************************************************

  // GLOBIE

  body
    &.globie-stuck
      svg.globie
        opacity: 0
        pointer-events: none
      #project
        svg.globie
          opacity: 1
          pointer-events: auto
